* {
  margin: 0;
  padding: 0; }

.clearfix:after, .clearfix:before {
  content: "";
  display: block;
  clear: both; }

ul li {
  list-style: none; }

img {
  vertical-align: middle; }

body {
  background: #ccc; }

.ad {
  position: relative;
  width: 1100px;
  height: 133px;
  margin: 100px auto;
  border: 1px solid #333;
  overflow: hidden;
  text-align: justify; }
  .ad .ad-list {
    position: absolute;
    top: 0;
    left: 0;
    width: 2500px; }
    .ad .ad-list li {
      float: left;
      margin-right: 25px; }
      .ad .ad-list li img {
        width: 200px; }
    .ad .ad-list li:last-child {
      margin-right: 0; }
